* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  

.bgimage {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1 {background-image: url("/primjeri/slike/slikice/ian-schneider-dqMxDqdhg_4-unsplash\ 1280.jpg");}
.img2 {background-image: url("/primjeri/slike/slikice/ilya-fbfVVYSgkho-unsplash\ veca.jpg");}
.img3 {background-image: url("/primjeri/slike/slikice/qC117ahi-mE\ 1280.jpg");}
.img4 {background-image: url("/primjeri/slike/slikice/tim-gouw-rxLGSOM0e3U-unsplash\ veca.jpg");}

.text {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 3vw;
    color: white;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    width: auto;
    padding: 2vw;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}