* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
}
/*tab container*/
.tab-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab-container > .img-parent {
    flex: 17%;
    padding: 1vw;
    overflow: hidden;
    border-radius: 10px 0;
}

.smallimg {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
    cursor: pointer;
}

.smallimg:hover {
    opacity: 0.8;
}

.tab-container:after {
    content: "";
    display: table;
    clear: both;
}

/*Modal*/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 3vw;
    top:0;
    left:0;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modalImg {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80vw;
    max-height: 50vw;
}

#caption {
    margin: auto;
    width: 75%;
    max-width: 80vw;
    text-align: center;
    color: white;
    padding: 1vw 0;
    height: 8vw;
    font-size: 4vw;
}

.modalImg, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

.closebtn {
    position: absolute;
    top: 2vw;
    right: 4vw;
    color: #f1f1f1;
    font-size: 4vw;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: pointer;
  }
  
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* responsive*/
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
    .tab-container > .img-parent {
        flex: 45%;
        max-width: 50%;
    }
     
    .modalImg {
        max-height: 80vw;
        width: 100%;
        min-width: 100%;
    }

    .closebtn {
        top: 3vw;
        font-size: 8vw;
    }
 }