* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
}
/*navbar*/
.navbar {
    width: 100%;
    background-color: midnightblue;
    position: fixed;
    top: -50px;
    transition: top 0.5s;
}

.navbar a {
    float: left;
    display: block;
    color:mintcream;
    font-weight: bold;
    text-align: center;
    padding: 1vw;
    text-decoration: none;
}

.navbar a:hover {
    background-color: slategrey;
    color: white;
}