* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
}

/*header*/
.header {
    width: 100%;
    padding: 90px 10px;
    font-size: 30px;
    background-color: slategray;
    color: seashell;
}

/*sticky navbar*/
.navbar {
    width: 100%;
    background-color: steelblue;
    overflow: visible;
    min-height: 5vw;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    font-size: 2vw;
}

.navbar a {
    float: left;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: snow;
    padding: 15px;
}

/*sticky class za JS*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
/*dodatni padding za sprečavanje brzog pokretanja kod JS klase sticky za sadržaj stranice za prvi class content*/
.sticky + .content {
    padding-top: 60px;
}

#demo {
    color: blue;
    font-weight: bold;
}

/*dropdovn content*/
.dropdown {
    float: left;
   
  }
  
  .dropdown .dropbtn {
    font-size: 2vw; 
    font-weight: bold; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}



.dropdown:hover .dropdown-content {
    display: block;
    z-index: 99;
    overflow: visible;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: steelblue;
    color:snow;
  }

  